Hello from Entries Index

<div class="input-group">
  {{input class="form-control" valueBinding="newTitle"}}
  {{textarea class="form-control" valueBinding="newBody"}}
  {{input class="form-control" valueBinding="levelOfRage"}}
  <button {{action 'createEntry'}}>Create Entry</button>
</div>